*{
    margin: 0;
    --colorsSurface: #17171c;
    --colorsOnSurface: #fafafa;
    --colorsOnSurfaceVariant: #b7b8bd;
}

body{
    background-color: #040714;
}

#header{
    background-image: url("../images/compose.webp");
    background-size: cover; /* Ensures the image covers the whole area */
    background-position: top; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    background-attachment: fixed; /* Optional: keeps image fixed on scroll */
    height: 100vh; /* Ensures the body covers full height */
    margin: 0; /* Removes default browser margin */
}

.h-auto{
    height: auto;
}

.w-full {
    width: 100%;
}

.max-w-full{
    max-width: 100%;
}

.container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 300px;           /* Example height, required for vertical centering */
    border: 1px solid black;
}

.container img {
    /* Optional: ensures the image fits within the container while maintaining aspect ratio */
    max-width: 100%;
    max-height: 100%;
}

.whitespace-pre-wrap{
  white-space: pre-wrap;
}

.body-medium{
  font-family: Inspire,sans-serif;
  line-height: 1.4;
  letter-spacing: 0;
  color: var(--colorsOnSurfaceVariant);
}
