/* Fondo general claro */
body {
  background-color: #f4f9ff;
  font-family: Arial, Helvetica, sans-serif;
}

/* Ajuste del oso */
.bear {
  width: 400px;
  height: 400px;  
  position: relative;
}


/* Accesorios ocultos por defecto */
.accessory {
  width: 100px;
  display: none;
}

/* Sombrero */
#hat {
  top: -20px;              /* mueve el sombrero más arriba */
  width: 180px;            /* agranda el sombrero para que se ajuste al oso grande */
}

/* Gafas */
#glasses {
  top: 24%;                /* ajusta la altura de las gafas en la cara */
  width: 160px;            /* tamaño proporcional al oso */
}
/* Corbata */
#tie {
  top: 45%;                /* ajusta la altura de la corbata en el pecho */
  width: 120px;            /* tamaño proporcional al oso */
}



/* Animación suave */
.accessory,
#bearImage {
   width: 100%; 
   height: auto; 
  transition: all 0.3s ease;
}

#bearPreview {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}   

/* Hover personalizado extra */
button:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

/* Active efecto clic */
button:active {
  transform: scale(0.95);
}

/* Espaciado adicional */
.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Responsive extra */
@media (max-width: 768px) {
  .bear {
    width: 180px;
    height: 180px;
  }

  .accessory {
    width: 80px;
  }
}
